name: "Update API docs"

on:
  push:
    branches:
      - "develop"

concurrency: api-${{ github.ref }}

jobs:
    apidoc:
        name: Update API docs
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
              with:
                token: ${{ secrets.DEPLOYMENT_TOKEN }}
                repository: godot-escoria/escoria-demo-game
                ref: "develop"
                path: game
            - name: "Checkout docs repo"
              uses: actions/checkout@v2
              with:
                token: ${{ secrets.DEPLOYMENT_TOKEN }}
                repository: godot-escoria/escoria-docs
                ref: "devel"
                fetch-depth: 0
                path: docs
            - name: Remove existing docs
              run: |
                mv docs/api/index.rst .
                rm -rf docs/api/*
                mv index.rst docs/api
            - name: "Update docs"
              uses: docker://gdquest/gdscript-docs-maker:1
              with:
                entrypoint: "bash"
                args: "-c \"BASEDIR=$(pwd) && cd /app && ./generate_reference $BASEDIR/game -o $BASEDIR/docs/api -d addons/escoria-core\""
            - name: "Update ESC reference"
              run: |
                apt update && apt install -y python3 python3-pip
                pip3 install m2r2
                cd docs
                python3 extractesc.py
                git status
            - name: "Commit"
              uses: EndBug/add-and-commit@v7.2.1
              with:
                add: "api"
                message: 'docs: Automatic update of API docs'
                push: true
                cwd: "docs"
                branch: "devel"

               
