name: "Update API docs"

on:
  push:
    branches:
      - "main"

concurrency: api-${{ github.ref }}

jobs:
    apidoc:
        name: Update API docs
        runs-on: ubuntu-latest
        steps:
            - name: "Checkout main repo"
              uses: actions/checkout@v2
              with:
                token: ${{ secrets.ESCORIA_DEPLOYMENT_TOKEN }}
                repository: godot-escoria/escoria-demo-game
                ref: "main"
                path: game
            - name: "Setup Godot for doctool"
              uses: fire/godot-setup@v1
              with:
                version: 4.5.1
            - name: "Build API docs"
              run: |
                cd game
                godot --doctool ./docs --gdscript-docs res://addons/escoria-core/ --headless --quit --quiet
            - name: "Checkout docs repo"
              uses: actions/checkout@v2
              with:
                token: ${{ secrets.ESCORIA_DEPLOYMENT_TOKEN }}
                repository: godot-escoria/escoria-docs
                ref: "devel"
                fetch-depth: 0
                path: docs
            - name: "Remove previous API docs"
              run: |
                mv docs/api/index.rst .
                rm -rf docs/api/*
                mv index.rst docs/api
            - name: "Update ASHES reference"
              run: |
                apt update && apt install -y python3 python3-pip
                pip3 install m2r2
                cd docs
                python3 extractashes.py
                git status
            - name: "Commit"
              uses: EndBug/add-and-commit@v7.2.1
              with:
                add: '["api", "scripting/z_ashes_reference.rst"]'
                message: 'docs: automatic update of API docs'
                push: true
                cwd: "docs"
                branch: "devel"

               
